.App {
  text-align: center;
  background-color: rgb(224, 223, 223);
  border-bottom: 2px dashed black;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.navBar {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 2px dashed black;
  padding: 10px 0;
  margin-bottom: 10px;
  background-color: white;
}

.form{
  margin: 10px;
}

form input{
  border-radius: 5px;
  border: 1px solid rgb(211, 211, 211);
  padding: 5px;
}

form button{
  width: 80px;
  background-color: white;
  border-radius: 1px;
  margin: 10px;
  border-radius: 10px;
}

form button:hover{
  background-color: rgb(86, 153, 86);
  color: white;
  transition: .5s;
}

.App input{
  display: flex;
  margin: 0 auto;
}

.questionList div{
  width: 90%;
  margin: 0 auto;
  flex-wrap: wrap;
  border-radius: 40px;
  margin-bottom: 20px;
}

.App form{
  background-color: white;
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 30px;
  padding: 10px;
}

.ticket{
  margin: 0 auto;
  width: 100%;
}

.questionList button{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
  border-radius: 10px;
  margin-bottom: 10px;
}


.questionList button:hover{
  background-color: black;
  color: white;
  transition: .5s;
}

form.login{
  border-radius: 20px;
  padding-top: 20px;
  margin-bottom: 20px;
}

form.signup{
  border-radius: 20px;
  padding-top: 20px;
  margin-bottom: 20px;
}

form.add{
  margin-bottom: 20px;
}

form.answer{
  background-color: rgb(224, 223, 223);
}

form.answer button:hover{
  background-color: rgb(86, 153, 86);
}

form.answer button{
  margin-bottom: 0px;
}

.edit{
  margin-top: 10px;
}

a.logout.nav-link{
  color: black;
  background-color: rgba(255, 0, 0, 0.541);
  border-radius: 10px;
}

ul.navigation.nav{
  width: 100%;
  justify-content: space-around;
}

ul.navi{
  width: 90%;
  justify-content: space-between;
}

ul.gation{

}
